/* Importa a Fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */

/* Variáveis: espaço reservado na memória para guardar valores */
:root {
    /* Template de cores */
    --cor01: #ffffff;
    --cor02: #f9f9f9;
    --cor03: #dddddd;
    --cor04: #999999;
    --cor05: #757575;
    --cor06: #232323;
    
    --cor10: #9684ff;

    /* Sombra */
    --sombra: 0 3px 5px #000000b9;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    /* font-family: "Lobster", sans-serif; */
    font-family: "Montserrat", sans-serif;
    font: 16px;
    scroll-behavior: smooth;
}

/* Barra de Navegação */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #232323c3;
    color: var(--cor02);
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;

    span {
        color: var(--cor10);
    }

    /* Nested (aninhado) */
    ul {
        display: flex;
        list-style: none;
        /* gap: 1rem; */
    }

    a {
        text-decoration: none;
        color: inherit;
        padding: 1rem;
        transition: all 0.3s ease;

        &:hover {
            color: var(--cor10);
        }
    }

    /* Alt + Shift + F == Formatar */
}

/* Cabeçalho */
header {
    height: 60vh; /* 60% da Viewport Height */
    background-image: url("https://cdn.pixabay.com/photo/2016/02/01/00/56/news-1172463_1280.jpg");
    background-size: cover;
}

/* Corpo da Página */
main {
    background-color: var(--cor03);
    padding: 2rem 4rem;
}

/* Section - Assuntos */
section {
    padding: 4rem 0;
    min-height: 100vh;
}

/* Article - Notícia */
article {
    margin-top: 1rem;
    background-color: var(--cor02);
    display: flex;
    height: 16rem;
    border-radius: 0.5rem;
    overflow: hidden;

    box-shadow: var(--sombra);

    img {
        height: 100%;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.8rem;

        p {
            margin: 1rem 0;
            text-align: justify;
        }

        .leia-mais {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
}

/* Rodapé */
footer {
    background-color: #232323;
    color: var(--cor03);
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
